/example/nbproject/private/
example/manifest.mf
example/build.xml
example/nbproject/build-impl.xml
example/nbproject/genfiles.properties
example/nbproject/project.properties
example/nbproject/project.xml
